
h1{
    background-color: green; /*titre*/
    text-align:center;
    font-family:"Coyote DEMO";
    font-size: 110px;
    color:white;
    width:549px;
    height:373px;
    text-align: justify;
}

#conteneur /* <div id="conteneur">
               <div class="rectangle"><div>
               <h1 class="element"> Chloe Delamarre </h1>
           </div>*/
{
    background-color: #ab3e16;
    display: flex;
    justify-content: left;
    align-items: left;

}
.element:nth-child(2){
    align-self: flex-end;
}


p{ /*tout les p*/
    justify-content:center;
    font-size: 20px;
    font-family: "comfortaa";
}

#anecdote{
    background-color: #47120E;
    margin: 1em 10em;
    padding: 0.2em 2em 2em 1em;
    width:536px;
    height:374px;
}
.txtanecdote{
color: white;
text-align: justify;
}
.frize{     /* <img class="displayed" src="image\frizeweb.png" alt="frize chronologique">*/
    text-align:"center";

}

.rectangle{/*rect noir*/
    width:515px;
    height:941px;
    background:#000;
}
