
#titre
{
	display: flex;
	justify-content: left;
	background-color: #CCC;
	/*align-items: center;*/
}

.rect
{
	width: 450px;
	height: 850px;
	background-color: black;
}

.titre1
{
	font-size: 100px;

	align-self: center;
	background-color: #19C;
}

#ligne1
{
	width: 100%;
	background-color: #CCC;
	justify-content: center;
	align-items: center;
	display: flex;
	margin: 2em 0em 2em 0em;
}

.element
{
	width: 625px;
	min-width: 307px;

	height: 373px;
	min-height: 186px;

	/*padding: 10em;*/
}

.element:nth-child(1)
{
	border-radius: 20px 0px 0px 20px;
	background-color: pink;
}

.element:nth-child(2)
{
	border-radius: 0px 20px 20px 0px;
	background-color: #48120E;
}

#ligne2
{
	width: 100%;
	height: 300px;
	background-color: #CCC;

	justify-content: center;
	align-items: center;
	display: flex;
}

#ligne3
{ 
    width: 100%;
	height: 300px;
	background-color: #CCC;
	display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

.futur
{
	background-color: #AA3d16;
	border-radius: 20px 20px 0px 0px;
	width: 1250px;
	min-width: 307px;

	height: 300px;
	min-height: 186px;
}

#ligne4
{
	width: 100%;
	background-color: #CCC;
	justify-content: center;
	align-items: center;
	display: flex;
}

.element4
{
	width: 625px;
	min-width: 307px;

	height: 373px;
	min-height: 186px;

	/*padding: 10em;*/
}

.element4:nth-child(1)
{
	border-radius: 0px 0px 0px 20px;
	background-color: #48120E;
}

.element4:nth-child(2)
{
	border-radius: 0px 0px 20px 0px;
	background-color: #14B;
}
